
:root {
    --background: #f0f0f0;
    --primary: #ffffff;
    --secondary: rgb(0, 0, 0);
}



#main-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: "Lucida Console", "Courier New", monospace;
}

h2{ 
    color: var(--secondary);
    font-weight: bold;
    
}

input[type=number] {
    
    background-color: var(--background);
    
    color: var(--secondary);
    width: 8vh;
    
}


/* input[type=range] {

    
    
} */



button{
    background-color: var(--primary);
    
    align-self: flex-start;
    
}
button:hover{
    background-color: var(--background);
    cursor: pointer;
}

input[type="range"] {
    accent-color: var(--secondary);
  }
  


body{
    background-color: var(--background);
}


.algorithm-container{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.ui-container{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}

#test{
    display: flex;
}
.component-container{
    display: flex;
    margin-right: 5%;
    margin-bottom: 2%;
    
}

#hidden-canvas{
    display:none;
}




canvas{
    width: 100%;
    --border-angle: 0turn; 
    
    border: solid 1vh transparent;
    border-radius: 0em;
    --gradient-border: conic-gradient(from var(--border-angle),
     var(--primary) 0deg, var(--primary) 45deg,
     var(--primary) 45deg, var(--primary) 90deg,
     var(--secondary) 90deg, var(--secondary) 135deg,
     var(--secondary) 135deg, var(--secondary) 180deg,
     var(--primary) 180deg, var(--primary) 225deg,
     var(--primary) 225deg, var(--primary) 270deg,
     var(--secondary) 270deg, var(--secondary) 315deg,
     var(--primary) 315deg, var(--primary) 360deg);
    
    background:  
      var(--gradient-border) border-box;
      
    animation: bg-spin 3s linear infinite;


    animation-play-state: paused;
    
    
    
  

  }
  
  @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }

  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }
  

