
:root {
    --background: #fbfbfb;
    --primary: #dcdcdc;
    --secondary: rgb(0, 0, 0);
    --button: #f0f0f0;
}

body{
    font-family: "Lucida Console", "Courier New", monospace;
}

.header{
    display: flex;
    justify-content: center;
}

.videoCheck{
    margin-right:1vw;
}

#video-container{
    display:none;
}

#video-alg-container{
    padding-top:1%;
    width:50vw;
    padding-left:1%;
    border-style:solid;
}

progress{
    width: 25vw;
    margin-left: 1vw;
}

progress::-moz-progress-bar {
    background-color: rgb(0, 0, 0);
}

#loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #000000; 
    border-bottom: 5px solid #000000;
    border-radius: 0%;
    width: 1rem;
    height: 1rem;
    margin-left: 10px;
    animation: spin 0.5s linear infinite;
    animation-play-state: paused;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

video{
    width: 80vw;
}

#progress-bar-ui{
    margin-top:5vh;
    
}
#main-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: "Lucida Console", "Courier New", monospace;
}

h2{ 
    color: var(--secondary);
    font-weight: bold; 
}

input[type=number] {
    
    background-color: var(--background);
    
    color: var(--secondary);
    width: 4rem;
    
}

button{
    background-color: var(--button);
    align-self: flex-start;

}
button:hover{
    background-color: var(--background);
    cursor: pointer;
}

input[type="range"] {
    accent-color: var(--secondary);
  }
  
body{
    background-color: var(--background);
}

.algorithm-container{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.ui-container{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}

#test{
    display: flex;
}

#video-ui{
    
}
.component-container{
    display: flex;
    margin-right: 2%;
    margin-bottom: 1%;
    margin-top: 1%;
    
}

#hidden-canvas{
    display:none;
}


#dummy_canvas{
    width:100%;
    height: auto;
}




canvas{
    width:100%;
    --border-angle: 0turn; 
    
    border: solid 0.7rem transparent;
    border-radius: 0em;
    --gradient-border: conic-gradient(from var(--border-angle),
     var(--primary) 0deg, var(--primary) 45deg,
     var(--primary) 45deg, var(--primary) 90deg,
     var(--secondary) 90deg, var(--secondary) 135deg,
     var(--secondary) 135deg, var(--secondary) 180deg,
     var(--primary) 180deg, var(--primary) 225deg,
     var(--primary) 225deg, var(--primary) 270deg,
     var(--secondary) 270deg, var(--secondary) 315deg,
     var(--primary) 315deg, var(--primary) 360deg);
    
    background:  
      var(--gradient-border) border-box;
      
    animation: bg-spin 3s linear infinite;

    animation-play-state: paused;

  }
  
  @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }

  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }
  

